In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [2]:
# Importing the dataset
dataset = pd.read_csv('mean-relative-humidity-Japanweather1.csv')

In [4]:
dataset.head()

,year,total_precipitation,mean_air_temperature,mean_wind_speed,percentage_possible_sunshine,total_sunshine_duration,solar_radiation,mean_relative_humidity
0,Jan-10,75.5,-3.4,5.5,14,40.4,8.1,75
1,Feb-10,109.5,-4.9,4.1,17,48.8,9.1,74
2,Mar-10,100.5,-1.4,4.7,29,108.0,12.2,68
3,Apr-10,94.0,3.5,4.3,36,146.2,14.5,77
4,May-10,76.5,7.3,4.9,37,168.6,19.2,86

In [6]:
X = dataset.iloc[:, 1:-1].values #All rows, all columns excluding the last column indexed -1
y = dataset.iloc[:, -1].values #All rows, last column

In [7]:
print(X.shape)
print(y.shape)

(120, 6)
(120,)

In [8]:
model = LinearRegression()

In [9]:
model.fit(X, y)

LinearRegression()

In [10]:
r_sq = model.score(X, y)
print('coefficient of determination: ', r_sq)

coefficient of determination:  0.7234956028998238

In [11]:
y_pred = model.predict(X)
print('predicted response: ', y_pred, sep='\n')

predicted response:
[69.45083993 71.49151552 71.98047684 75.53977315 80.37168336 83.73015668
 89.65586027 84.31141765 72.28599918 69.9957445  69.4999378  71.37472212
 67.9737168  67.57597669 71.26194873 74.19235089 81.14296375 84.70924195
 87.04931872 83.85867272 76.06670153 70.00389964 67.62982242 70.79789774
 69.58498418 66.32432673 69.68022631 74.14042253 82.06250152 82.52718233
 86.15018077 85.66213248 79.92859201 70.91284579 70.19413581 71.78694932
 68.59347173 67.73864254 71.57135753 74.32929238 83.34738436 83.56976593
 82.14513743 84.58897361 76.92875707 68.76955452 69.88242754 69.05540894
 70.33568468 62.24290142 65.29250196 71.57435715 80.81957118 82.72843225
 85.21416147 82.2025422  76.96891114 68.92475452 65.54861606 69.36605236
 68.17475116 63.98062009 72.61715585 72.99528813 81.66134411 83.10340788
 85.15468067 81.42334261 75.25096987 70.05750668 64.79514104 70.73737555
 71.47422098 74.03515087 71.96629193 74.91625417 79.02716795 83.3018856
 84.13392651 83.35956585 75.28281986 73.35000173 74.97660124 68.69652214
 69.69949995 71.26361978 68.38018817 73.51868321 78.74847261 83.05060661
 84.73347385 79.24448497 72.52906067 66.80360097 71.89556265 71.30177059
 72.1819057  70.43143683 70.18135489 71.92581073 81.64263719 82.88163604
 84.79962615 81.52828294 70.68663387 69.69846977 73.20231244 71.70553999
 70.33007174 66.71744576 70.28251843 71.93170832 80.73826785 81.32432996
 84.96448291 83.18726308 72.20406507 68.26065023 71.82429222 72.08446305]

In [12]:
y_pred.shape

(120,)

In [13]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, y_pred)))

Mean Absolute Error: 2.8657004165573894
Mean Squared Error: 15.660729009397897
Root Mean Squared Error: 3.957363896509632