In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [2]:
# Importing the dataset
dataset = pd.read_csv('total-sunshine-duration-Japanweather1.csv')

In [3]:
dataset.head()

,year,total_precipitation,mean_air_temperature,mean_wind_speed,mean_relative_humidity,percentage_possible_sunshine,solar_radiation,total_sunshine_duration
0,Jan-10,75.5,-3.4,5.5,75,14,8.1,40.4
1,Feb-10,109.5,-4.9,4.1,74,17,9.1,48.8
2,Mar-10,100.5,-1.4,4.7,68,29,12.2,108.0
3,Apr-10,94.0,3.5,4.3,77,36,14.5,146.2
4,May-10,76.5,7.3,4.9,86,37,19.2,168.6

In [4]:
X = dataset.iloc[:, 1:-1].values #All rows, all columns excluding the last column indexed -1
y = dataset.iloc[:, -1].values #All rows, last column

In [5]:
print(X.shape)
print(y.shape)

(120, 6)
(120,)

In [6]:
model = LinearRegression()

In [7]:
model.fit(X, y)

LinearRegression()

In [8]:
r_sq = model.score(X, y)
print('coefficient of determination: ', r_sq)

coefficient of determination:  0.9776840459436359

In [9]:
y_pred = model.predict(X)
print('predicted response: ', y_pred, sep='\n')

predicted response:
[ 41.34123455  50.83749998 100.01869887 141.15444933 167.03802774
 197.68944408  90.94764935 181.83236851 202.89003372 165.54712127
  70.44902375  27.05758647  62.47997033 105.29248505 155.38453096
 150.94107508 138.21751327 124.09450029 141.22979849 176.21630916
 171.26261801 151.65693549  89.33192722  24.50461509  39.35124391
  77.00345871 134.73433779 190.38451042 139.30907158 192.15561701
 119.67031501 166.20909988 138.86888366 133.09998024  37.92782096
   3.53835995  36.7784067   74.60233825  95.1896103  163.44871969
 133.53612295 178.27175322 182.29309684 126.09882319 157.10654178
 143.26343344  75.20482816  26.70398425  41.21501783 115.40610936
 188.78172407 219.69887034 143.72116055 160.65890357 155.74880728
 167.17217163 162.50392316 154.18115711 111.63689528  14.5607054
  51.23707899 100.34809259 125.48441583 173.74100355 181.13716781
 123.83778771 127.81253865 135.08128866 177.55041552 126.89842348
  93.66096124  44.83923535   5.94903511  29.94992836 144.2914444
 151.9750485  212.71664809 151.18653576 153.01493246 173.4373258
 148.45325331  86.49866532  14.50896927  30.78273238  37.8364388
  63.03670347 186.66293161 179.38108655 171.2757092  124.88115753
 130.26396351 148.70948942 225.48289004 147.02615296  43.90257114
  21.74434582  21.06269878  65.2307356  148.10103283 193.2571775
 160.03496566 118.8920424  162.2563848  162.67287602 217.01205222
 157.69544838  57.23803199  11.19351196  36.35059333 105.62126267
 161.64210238 225.48219281 243.33088845 138.63922727 124.95787974
 113.35292599 218.66799703 158.31734186  43.27071076  16.07233179]

In [10]:
y_pred.shape

(120,)

In [11]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, y_pred)))

Mean Absolute Error: 6.889609238532689
Mean Squared Error: 80.72659855841886
Root Mean Squared Error: 8.984798192414722