In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [2]:
# Importing the dataset
dataset = pd.read_csv('mean-air-temperature.csv')

In [4]:
dataset.head()

,year,total_precipitation,mean_wind_speed,mean_relative_humidity,percentage_possible_sunshine,total_sunshine_duration,solar_radiation,mean_air_temperature
0,Jan-10,75.5,5.5,75,14,40.4,8.1,-3.4
1,Feb-10,109.5,4.1,74,17,48.8,9.1,-4.9
2,Mar-10,100.5,4.7,68,29,108.0,12.2,-1.4
3,Apr-10,94.0,4.3,77,36,146.2,14.5,3.5
4,May-10,76.5,4.9,86,37,168.6,19.2,7.3

In [5]:
X = dataset.iloc[:, 1:-1].values #All rows, all columns excluding the last column indexed -1
y = dataset.iloc[:, -1].values #All rows, last column

In [6]:
print(X.shape)
print(y.shape)

(120, 6)
(120,)

In [7]:
model = LinearRegression()

In [8]:
model.fit(X, y)

LinearRegression()

In [9]:
r_sq = model.score(X, y)
print('coefficient of determination: ', r_sq)

coefficient of determination:  0.7245616521907663

In [10]:
y_pred = model.predict(X)
print('predicted response: ', y_pred, sep='\n')

predicted response:
[-0.82686193  2.54578493  3.46427134 10.46330569 13.30219417 17.58186279
 15.98167082 15.98519495 17.82836605 10.72262973  0.86050163  2.06882647
  0.53697546 -1.53291732  5.83140884  5.82456125 10.58680912 11.95205874
 14.52907276 15.30580809 20.77912645  7.15791628  0.770452    4.50565959
 -0.34776075 -0.71397868  4.92788977 12.76621962 11.13644415 17.08580138
 14.93279922 15.22798113 13.88876311  4.73422115  1.79280176  0.82964068
 -0.1557652  -3.42778083 -1.79389284  8.21154761  5.37718787 14.32579744
 20.65597998 10.35014226 10.21805012  7.92796132  4.62239603 -2.30852712
 -0.13180356 -2.03835121  6.42009979  7.84038463  8.02522541 18.29703899
 14.56156224 25.96109335 17.29277221  2.48705385  2.97355966 -0.79284538
 -2.19536149 -1.85298401  6.95952457  5.50219055  8.71715588 13.26657867
 17.60686184 10.31823443 14.20354386  2.32371874 -0.83043806 -0.1712481
 -3.43954049 -2.17623071  1.95776715  6.38704693 12.81789743 17.31179235
 20.24348238 14.77787333 21.9045496  -1.82040579 -1.21749064 -6.7124424
 -4.35973025 -4.73843571  8.23138856  6.2505354   8.59393959  6.94333144
 10.96924163 14.56667148 14.78671855  7.00426666  3.98640975  2.00240148
  0.8640144  -2.58553808  5.26723625  7.74599728 14.80754833  8.2111071
 15.47269441 15.18988311 15.05701789  9.81539702 -1.72792762 -3.67191228
 -4.02978216 -0.67971951  6.427486   10.20448213 14.60925328 10.89046842
 16.05199134 12.22871113 11.49003854  5.58666815 -4.76260926 -1.56570754]

In [11]:
y_pred.shape

(120,)

In [12]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, y_pred)))

Mean Absolute Error: 3.7513759423254243
Mean Squared Error: 20.36919833463193
Root Mean Squared Error: 4.5132248265106325