In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [3]:
# Importing the dataset
dataset = pd.read_csv('percentage-possible-sunshine-Japanweather1.csv')

In [4]:
dataset.head()

,year,total_precipitation,mean_air_temperature,mean_wind_speed,mean_relative_humidity,total_sunshine_duration,solar_radiation,percentage_possible_sunshine
0,Jan-10,75.5,-3.4,5.5,75,40.4,8.1,14
1,Feb-10,109.5,-4.9,4.1,74,48.8,9.1,17
2,Mar-10,100.5,-1.4,4.7,68,108.0,12.2,29
3,Apr-10,94.0,3.5,4.3,77,146.2,14.5,36
4,May-10,76.5,7.3,4.9,86,168.6,19.2,37

In [5]:
X = dataset.iloc[:, 1:-1].values #All rows, all columns excluding the last column indexed -1
y = dataset.iloc[:, -1].values #All rows, last column

In [6]:
print(X.shape)
print(y.shape)

(120, 6)
(120,)

In [7]:
model = LinearRegression()

In [8]:
model.fit(X, y)

LinearRegression()

In [9]:
r_sq = model.score(X, y)
print('coefficient of determination: ', r_sq)

coefficient of determination:  0.9670959915128634

In [11]:
y_pred = model.predict(X)
print('predicted response: ', y_pred, sep='\n')

predicted response:
[13.5334085  16.43185768 31.13263238 36.75247251 36.77196193 45.38689074
 12.9557872  38.42299489 54.32121214 42.75692284 20.15655537 11.90883157
 17.71007528 24.81288793 41.12787877 33.66353831 30.05221612 24.13289912
 28.61861638 40.01900039 43.34401481 39.46685735 25.62069489 13.73163011
 15.46192876 23.62374111 36.06420672 50.15420528 31.59197126 49.56240292
 25.58370268 34.16381475 29.84456222 34.88970115 12.27596857  9.54181335
 14.11011328 18.885339   27.02827657 40.98108747 22.99594932 42.19147663
 49.95122594 24.02423974 38.85093295 39.42832053 23.97889146 13.83166849
 17.03372883 28.07279971 50.58342702 52.30186887 30.79170554 41.6694217
 36.32283483 44.86164972 40.49791666 40.90510493 31.51252442 13.22520284
 18.01307502 23.64068113 29.49992275 44.88920016 43.05066675 27.78585352
 28.8774497  31.74627692 44.42859329 35.16965171 27.35348724 19.93925517
 13.41939429 13.29075854 39.07445126 36.31880548 61.36159421 37.86229633
 37.45310712 38.64025488 40.94403599 30.43134897 13.53173135 16.6686195
 16.92459328 18.08089003 49.82408473 45.13602881 43.36236519 24.30878872
 27.61125962 40.06538042 55.10700819 43.96103701 16.7957303  13.10562193
 10.53986212 16.98539153 37.04249834 48.89539875 39.49729647 22.59248178
 33.14089923 36.67742036 56.91908858 43.56360535 20.01163582 11.40457905
 13.37968055 28.17090764 39.18261829 56.83736392 61.77004178 30.18321518
 28.10712192 20.50771222 52.81584339 41.24382684 16.32265411 11.90999483]

In [12]:
y_pred.shape

(120,)

In [13]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, y_pred)))

Mean Absolute Error: 1.8771239514168612
Mean Squared Error: 5.746079557122209
Root Mean Squared Error: 2.397098153418464