In [122]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [98]:
# Importing the dataset
dataset = pd.read_csv('Japanweather1.csv')

In [108]:
dataset.head()

,year,solar_radiation,mean_air_temperature,mean_wind_speed,mean_relative_humidity,percentage_possible_sunshine,total_sunshine_duration,total_precipitation
0,Jan-10,8.1,-3.4,5.5,75,14,40.4,75.5
1,Feb-10,9.1,-4.9,4.1,74,17,48.8,109.5
2,Mar-10,12.2,-1.4,4.7,68,29,108.0,100.5
3,Apr-10,14.5,3.5,4.3,77,36,146.2,94.0
4,May-10,19.2,7.3,4.9,86,37,168.6,76.5

In [124]:
X = dataset.iloc[:, 1:-1].values #All rows, all columns excluding the last column indexed -1
y = dataset.iloc[:, -1].values #All rows, last column

In [135]:
print(X.shape)
print(y.shape)

(120, 6)
(120,)

In [136]:
model = LinearRegression()

In [137]:
model.fit(X, y)

LinearRegression()

In [138]:
r_sq = model.score(X, y)
print('coefficient of determination: ', r_sq)

coefficient of determination:  0.29387047352253315

In [139]:
y_pred = model.predict(X)
print('predicted response: ', y_pred, sep='\n')

predicted response:
[ 95.85780336  81.53283311  59.95591377  60.03207724  60.90321852
  69.90704805 165.87159167 132.83527367 112.71540086 111.84430186
 129.32244423 107.71713377  84.16288468  89.68123882  44.9329957
  75.67143284  71.99809377 111.74431159 120.63593547 124.17652391
 132.54201444 122.4114029  123.78876184 101.54709539  83.17067007
  68.9633975   48.44110435  35.77616853  80.72535459  48.69311612
 129.45831951 132.61482464 156.51108644 129.43191027 136.48196886
 100.91322232  85.94082934  83.05408977  69.53499947  58.20235216
  91.39665386  74.25585158  78.9520964  157.04519091 132.5730532
 121.68590988 128.20449953 112.85009977  80.77065859  82.3263546
  29.83288529  32.60763766  83.06656361  80.06103391 111.45237689
 113.050651   127.50275825 115.52270343 117.60967048 103.46213274
  93.10910328  98.72374019  81.38477703  57.54692627  59.43808437
 104.75263719 128.91057532 134.41384947 120.81291229 124.95881991
 118.99613307 101.74581938  82.90707727  82.10639227  53.63493208
  66.49061163  22.39536647  81.40830283 104.95032885 130.35122773
 129.73280223 122.26105033 105.46060137  96.34636899  84.86694418
  88.27057762  31.24276681  54.73342011  59.49199657 111.51607307
 132.76369601 116.79090594 101.08093718 106.24735441 118.92982266
  97.69710697  95.3675235   80.22191739  58.92917349  49.06245885
  63.97273778 122.06490735 111.7519027  119.61936642 100.3452195
 118.86941827 122.72522014 103.08805158  92.18235175  73.08445626
  52.31572165  27.69946496  23.87853016 105.110999   128.21726116
 157.79756578 111.61990568 121.67031194 118.98604721  99.51951919]

In [140]:
y_pred.shape

(120,)

In [142]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, y_pred)))

Mean Absolute Error: 36.31724399499102
Mean Squared Error: 2342.8018266591953
Root Mean Squared Error: 48.40249814481888